# Dependencias
node_modules/

# Entornos y secretos (¡Súper importante!)
.env
.env.*
!.env.example
*.json
!package.json
!package-lock.json
!db/seed-data.json
# Logs y bases de datos locales temporales
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
*.sqlite
*.sqlite-journal

# Dumps de seguridad de la base (no se commitean)
db/backup_*.sql

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/